graph {  
	size: 100px, 100px;
	fill-color: white; 
} 

node { 
    size: 10px, 10px;
    shape: box;
    fill-color: green;
    stroke-mode: none;
    stroke-color: nonde;
    z-index: -10;
}

edge { 
	fill-color: red; 
	size: 4px;
	z-index: 200;
}

node.community {
	size: 10px, 10px;
    shape: box;
    fill-color: red;
    stroke-mode: none;
    stroke-color: yellow;
}

