graph {  
	size: 100px, 100px;
	fill-color: white; 
} 

node { 
    size: 5px, 5px;
    shape: box;
    fill-color: #CDCDCD;
    stroke-mode: none;
    stroke-color: nonde;
    z-index: 10
}

edge { 
	fill-color: red; 
	size: 2px;
	z-index: 20
}

node.community {
	size: 5px, 5px;
    shape: box;
    fill-color: red;
    stroke-mode: none;
    stroke-color: yellow;
}

